<footer class="site-footer">

  <div class="wrapper">

    <div id="foot-col-wrap" class="footer-col-wrapper">
      <a href="{{ site.baseurl }}/">
          <span>{{ site.title }}</span>
      </a>
        <div class="social-media-list">
            <a href="https://twitter.com/Refugees" target="_blank">
            <i class="fa fa-twitter"></i> 
            </a>
            <a href="http://facebook.com/13204463437" target="_blank"><i class="fa fa-facebook"></i>
            <a href="https://instagram.com/unrefugees" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://instagram.com/refugees" target="_blank"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>

  </div>

</footer>
