$main-purple: #c500af;

.get-involved{
	font-size: 52pt;
	color:#00d332;
	text-align: center;
	padding-top:2vh;
}

.get-involved form{
	margin:auto;
	font-size:16pt;
	color: $main-purple;
}

.get-involved form label{
	display: inline-block;
	width: 9%;
	text-align:right;
	padding-right:3%;
	min-width:65px;
}

.get-involved #submit{
	transition: all 0.5s ease;
	font-size: 24pt;
	border: solid 4px $main-purple;
	background-color: $main-purple;
	color: white;
	padding: 10px;
	text-decoration: none;
	&:hover{
		background-color: transparent;
		color: $main-purple;
	}
}

.get-involved form input{
	margin-left: 1%;
}

.form-block{
	padding-bottom: 3vh;
}

#follow-title{
	padding-bottom: 2%;
}