.get-involved{
	font-size: 52pt;
	color:#00d332;
	text-align: center;
	padding-top:2vh;
}

.get-involved form{
	margin:auto;
	font-size:16pt;
	color: #c500af;
}

.get-involved form label{
	display: inline-block;
	width: 9%;
	text-align:right;
	padding-right:1%;
	min-width:65px;
}

.get-involved form input{
	margin-left: 1%;
}

.form-block{
	padding-bottom: 3vh;
}

#follow-title{
	padding-bottom: 2%;
}